<div class="container-fluid border shadow p-2 mb-2">
	<div class="h-90">
	<div class="row">
		<div class="col-12">

			<button type="button" class="btn btn-md btn-info m-1">Play</button>
			
			<button type="button" class="btn btn-md btn-info m-1">Sync</button>

		</div>
		<div class="col-12">
			<input type="text" name="" placeholder="Add songs">
			<button type="button" class="btn btn-md btn-info m-1" (click)="onAdd()" >Add</button>
		</div>
		<div class="col-12 bg-white">
			
		</div>
	</div>
	</div>
</div>