<!-- <div class="container" style="background: #CAE3F2"> -->
	<div class="h-90 border shadow p-2 mb-2">	
		<div class="row ">
		<div class="w-100 col-12 ">
			
			<ul class="nav nav-pills flex-column">
				<li class="nav-item">
					<a class="nav-link" routerLink="/playlist" routerLinkActive="active"><span class="fa fa-asterisk"></span> Playlists</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/music" routerLinkActive="active"><span class="fa fa-music"></span> Music</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/video" routerLinkActive="active"><span class="fa fa-video"></span> Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/picture" routerLinkActive="active"><span class="fa fa-picture"></span> Pictures</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" routerLink="/other_media" routerLinkActive="active"><span class="fa fa-tent"></span> Other media</a>
				</li>
			</ul>
		</div>		
		</div>
	</div>
<!-- </div> -->
